.main-block {
  max-width: 1200px;
  margin: 0 auto;
  /* color: #eee; */
  /* background: #f1f1f1; */
}

.main-flex {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
/*标题*/
.category {
  height: 310px;
  overflow-y: auto;
}
h1 {
  height: 30px;
  line-height: 30px;
}
/*字体*/
.text-white {
  color: #fff;
}
.text-a {
  display: block;
  font-size: 12px;
  line-height: 24px;
  text-decoration:none;
  color: #060a09;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-a:hover {
  font-size: 14px;
  font-weight: bold;
  color: #033a57;
  
}
.text-b {
  color: #033a57;
  font-weight: bold;
}
/*.section-left {
  height: 100%;
  background: #eee;
  padding: 10px;
  box-sizing: border-box;
}
.section-right {
  height: 100%;
  background: #ddd;
  padding: 10px;
  box-sizing: border-box;
}*/


/* 其他 */
.other-model {
  position: absolute;
  top: 0;
  right: 0;
}

.text-done:after {
  content: '-';
}
.padding-bottom {
  padding-bottom: 16px;
}

/*solo*/
.solo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height： 100vh;
}



@media (max-width: 768px) {
  .col-sm {
    flex: 0 0 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }
}